.login-adminStaff{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.loginForm {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
.in-adminStaff{
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    font-size: 16px;
    outline-color: rgb(198, 236, 198) ;
  }

.input-login{
    background-color: green !important;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.input-login:hover{
    background-color: #004900 !important;
}

.error-message {
    color: red;
    margin-top: 10px;
  }