.login-staf{
    border: none;
}

.input-login{
    background-color: green !important;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

}

.input-login:hover{
    background-color: #004900 !important;
}

.in-staff{
    outline-color: rgb(198, 236, 198) ;
    border: none;
}

